<!-- wp:template-part {"slug":"header","tagName":"div"} /-->
<!-- wp:group {"tagName":"main","anchor":"main","className":"page-main layout-container section-gap","layout":{"type":"default"}} -->
<main class="wp-block-group page-main layout-container section-gap" id="main">
<!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">Eventos</h1>
<!-- /wp:heading -->
<!-- wp:camino-del-dharma/eventos-calendar /-->
<!-- wp:camino-del-dharma/eventos-listado /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"div"} /-->
