<!-- wp:template-part {"slug":"header","tagName":"div"} /-->
<!-- wp:group {"tagName":"main","anchor":"main","className":"page-main layout-container section-gap","layout":{"type":"default"}} -->
<main class="wp-block-group page-main layout-container section-gap" id="main">
<!-- wp:query-title {"type":"archive","level":1,"showPrefix":false,"className":"page-title"} /-->
<!-- wp:query {"query":{"inherit":true},"className":"autor-archivo"} -->
<div class="wp-block-query autor-archivo">
<!-- wp:post-template -->
<!-- wp:post-title {"isLink":true,"level":2} /-->
<!-- wp:post-excerpt /-->
<!-- /wp:post-template -->
</div>
<!-- /wp:query -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"div"} /-->
