<!-- wp:template-part {"slug":"header","tagName":"div"} /-->
<!-- wp:group {"tagName":"main","anchor":"main","className":"page-main layout-container section-gap","layout":{"type":"default"}} -->
<main class="wp-block-group page-main layout-container section-gap" id="main">
<!-- wp:group {"tagName":"article","className":"read-width section-gap","layout":{"type":"default"}} -->
<article class="wp-block-group read-width section-gap">
<!-- wp:camino-del-dharma/entrada-cabecera /-->
<!-- wp:post-featured-image {"className":"section-figure"} /-->
<!-- wp:post-content /-->
<!-- wp:pattern {"slug":"camino-del-dharma/blog-single-nav"} /-->
</article>
<!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"div"} /-->
